.border{
	border: 5px double #000;
	margin:10px 0px;
}
.dblock a{
	display: block;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}
.inline a{
	display: inline;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}
.inlineblock a{
	display: inline-block;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}