h1{
	text-align: center;
}
h2{
	color: red;
}
ul{
	list-style-type: square;
}
button{
	background-color: #000;
	color: #fff;
}
footer{
	text-align: center;
	background-color: gray;
	padding: 20px 0px;
	color: #fff;
}
.border{
	border: 5px double #000;
	margin:10px 0px;
	padding: 20px;
}
.border2{
	border: 2px solid #000;
}
.border3{
	border: 3px solid blue;
	padding: 10px;
	margin: 5px 0px;
}
.blue{
	color: blue;
}
/*display*/
.dblock a{
	display: block;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}
.inline a{
	display: inline;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}
.inlineblock a{
	display: inline-block;
	padding: 20px;
	background: yellow;
	border: 1px solid red;
}
/*margin padding*/
.box{
	width: 100px;
	height: 100px;
	margin: 50px;
}
.greenbox{
	background-color: green;
	padding: 20px;
}
.bluebox{
	background-color: blue;
}
/*aside*/
.tags{
	padding: 20px;
	background-color: #eee;
}
